<header class="toolbar">

    <div class="toolbar-container">
        <form action="">
            <input type="text" class="form-control" placeholder="Buscar">
            <button type="submit" class="btn btn-link">
                <img src="../../../../assets/sidenav/search.svg" alt="Icono buscar">
            </button>
        </form>
        

        <div class="toolbar-usuario">

            <img src="../../../../assets/sidenav/gear.svg" 
            alt="Icono preferencias"
            class="toolbar-icone">

            <img src="../../../../assets/sidenav/bell.svg" 
            alt="Icono notificaciones">

            <h3 class="toolbar-nome-usuario">Usuário logado</h3>
        </div>

    </div>
</header>